*{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.container{
    min-height: 100vh;
    padding:0 2.5vw 50px 2.5vw;
}

.footer{
    background-color:#E5E5E5;
    padding:20px 15px;
    box-sizing:border-box;
    display:flex;
    justify-content:center;
    align-items:center;
    color:black;
    font-size: 0.75rem;
}

@media screen and (max-width:768px) {
    html{
        font-size: 11px;
    }

    .container{
        padding:0 0 50px 0;
    }

}